<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FYHLive.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
				<key>dateExpires</key>
				<string>2021/4/3</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVGAPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AC7CC8F6CBAAFF34EF96C733C0B0392123FAAF28</string>
						<key>dateExpires</key>
						<string>2021/4/3</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TZImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9VBT5EYVV2</string>
						<key>name</key>
						<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9VBT5EYVV2.com.wanbangcloudhelth.fengyouhuilive</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9VBT5EYVV2</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>9VBT5EYVV2.com.wanbangcloudhelth.fengyouhuilive</string>
				</array>
			</dict>
			<key>name</key>
			<string>FYHLive.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>52e8f78e-7d61-4ca1-a879-4f3b72ccb69d</string>
				<key>name</key>
				<string>fengyouhuilive</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9VBT5EYVV2</string>
				<key>name</key>
				<string>Jiangsu Wanbang Biochemical Pharmaceutical Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
